<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Zevhys">
  <meta name="description" content="Form Login Page">
  <meta name="referrer" content="no-referrer">

  <title>dashboard</title>

  <link rel="preload" href="style.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="container">
    <h3 class="text">
      Welcome <%= user.username %>
    </h3>

    <form action="/logout" method="post">
      <br>
      <br>
      <button type="submit">Log Out</button>
    </form>
  </div>
</body>

</html>